<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>定期代申請書</title>
<link rel="stylesheet" href="css/cpaf.css">
</head>
<body>
	<div class="container">
		<h1>定期代申請書</h1>
		<p><input type="text" placeholder=氏名></p>
		<p><input type="text" placeholder=カナ></p>
		<p><input type="text" placeholder=住所></p>
		<h2>定期券</h2>
		<p><input type="text" placeholder=自転車使用距離></p>
		<p><input type="text" placeholder=支給額></p>
		<p><input type="text" placeholder=バス使用期間></p>
		<p><input type="text" placeholder=バス乗車区間></p>
		<p><input type="text" placeholder=支給額></p>
		<p><input type="text" placeholder=乗車使用期間></p>
		<p><input type="text" placeholder=電車乗車期間></p>
		<p><input type="text" placeholder=支給額></p>
		<p><input type="text" placeholder=支給額計></p>
		
		<button type="submit">戻る</button><button type="submit">保存</button>
	</div>
</body>
</html>