<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>定期券代申請書一覧</title>
	<link rel="stylesheet" href="css/CRdata.css"> <!-- CSSファイルをリンク -->
</head>

<body align=middle>
	<h1>定期券代申請書一覧</h1>
	<table>
		<thead>
			<tr>
				<th scope="col" width="120" style="background-color:#e6e6fa;">名前</th>
				<th scope="col" width="240" style="background-color:#e6e6fa;">メールアドレス</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="example.html">新入社員１</a></td>
				<td>sinnnyuusyain1@gmail.com</td>
			</tr>
			<tr>
				<td><a href="example.html">新入社員２</a></td>
				<td>sinnnyuusyain2@gmail.com</td>
			</tr>
			<tr>
				<td><a href="example.html">新入社員３</a></td>
				<td>sinnnyuusyain3@gmail.com</td>
			</tr>
			<tr>
				<td><a href="example.html">新入社員４</a></td>
				<td>sinnnyuusyain4@gmail.com</td>
			</tr>
		</tbody>
	</table>
</body>

</html>