<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>ルート検索</title>
	<link rel="stylesheet" href="css/routesearch.css">
</head>
<body>
	<div class="container">
		<h1>ルート検索</h1><br>
		<div class="form-container">
			<p>出発地：<input type="text" name="departure"></p>
			<div class="span-container">
				<span>＋経由</span>切替
			</div>
			<p>目的地：<input type="text" name="destination"></p>
			<p><input type="submit" value="検索"></p>
		</div>
	</div>
</body>
</html>